<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>Attention</title>
    <style>
        body {
            text-align: left;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>浏览器不支持！</h1>
    <p><b>搜狗</b>浏览器请使用高速模式</p>
    <p><b>360</b>浏览器请使用急速模式</p>
    <p>您还可以选择下列浏览器</p>
    <div>
        <img src="/static/images_at/Chrome.png" />
        <img src="/static/images_at/Firefox.png" />
        <img src="/static/images_at/IE.png" />
    </div>
    <a href="index.html">Visit 113 Web</a>
</body>
</html>
